header {
	height: 210px;
	background-color: $blue;
	box-shadow: 0 1px 7px $shadow;
	section {
		position: relative;
		width: 1200px;
		height: 210px;
		margin: auto;
		nav {
			&.floating {
				position: absolute;
				top: 40px;
				right: 20px;
				a {
					display: inline-block;
					overflow: hidden;
					width: 26px;
					height: 25px;
					text-indent: -999999;
					background: url(../img/sprite.png) no-repeat;
					background-size: 47px;
				}
				.menu {
					width: 20px;
				}
				.notifications {
					margin-left: 30px;
					background-position: -21px 0;
				}
			}
			&.main {
				position: absolute;
				right: 0;
				bottom: 0;
				display: inline-block;
				a {
					font-size: 14px;
					display: inline-block;
					height: 30px;
					padding: 4px 14px;
					text-align: center;
					text-transform: uppercase;
					color: $blue-light;
					&.selected {
						color: #ffffff;
						border-bottom: 5px solid $blue-dark;
					}
					&:hover {
						color: #ffffff;
					}
				}
			}
		}
	}
}
