header {
	height: 250px;
	background-color: $blue;
	box-shadow: 0 1px 7px $shadow;
	section {
		position: relative;
		width: 1200px;
		height: 250px;
		margin: auto;
		nav {
			position: absolute;
			right: 0;
			bottom: 0;
			display: inline-block;
			a {
				display: inline-block;
				height: 30px;
				padding: 0 7px;
				text-align: center;
				text-transform: uppercase;
				color: $blue-light;
				&.selected {
					color: #ffffff;
					border-bottom: 5px solid $blue-dark;
				}
				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}