@import "panel_d3";
.panel {
	width: 100%;
	min-height: 200px;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 1px 1px 5px $shadow;
	&:last-child {
		margin-bottom: 0;
	}
	&#insurance {
		h2 {
			display: inline-block;
		}
		.fa-info-circle {
			font-size: 12px;
			float: right;
			margin-top: 5px;
			color: $grey-light;
		}
	}
}
