form {
	margin-bottom: 25px;
	border-bottom: 1px solid #ffffff;
	input {
		font-family: $fontFamily;
		padding: 0;
		-webkit-appearance: none;
		color: #ffffff;
		border: 0;
		outline: none;
		background-color: transparent;
		&:-ms-input-placeholder {
			color: $blue-light;
		}
		&::-webkit-input-placeholder {
			color: $blue-light;
		}
		&:-moz-placeholder {
			color: $blue-light;
		}
		&::-moz-placeholder {
			color: $blue-light;
		}
		&[type="search"] {
			font-size: 24px;
			font-weight: lighter;
			position: relative;
			left: -6px;
			width: 90%;
			width: calc(100% - 37px);
			&::-webkit-search-cancel-button {
				display: none;
			}
			+ button.fa-stack {
				top: -5px;
				width: 3em;
				height: 3em;
				padding: 0;
				border: 0;
				background: none;
				i {
					top: 0;
					&.fa-circle {
						font-size: 3em;
						top: 0;
						text-shadow: 0 0 3px $shadow;
					}
					&.fa-search {
						font-size: 1.5em;
						top: 4px;
						color: $blue;
					}
				}
			}
		}
	}
}
