@import "core";
@import "search";
@import "header";
@import "panel";

#page {
	position: relative;
	width: 1200px;
	margin: auto;
	#sidebar {
		position: absolute;
		z-index: 1;
		top: -200px;
		display: inline-block;
		width: 400px;
		> section {
			height: 1210px;
			background-color: #ffffff;
			box-shadow: 1px 1px 5px $shadow;
			h1 {
				font-size: 36px;
				font-weight: lighter;
				line-height: 40px;
				margin-bottom: 14px;
				padding: 25px 38px 0;
				color: #4f4c4d;
			}
		}
	}
	#content {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 40px 0 70px 430px;
	}
}
