@import "core";
@import "search";
@import "header";
@import "panel";

#page {

	position: relative;
	width: 1200px;
	margin: auto;
	#sidebar {
		position: relative;
		top: -225px;
		display: inline-block;
		width: 400px;
		> section {
			height: 700px;
			background-color: #ffffff;
			box-shadow: 1px 1px 5px $shadow;
		}
	}
	#content {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 40px 0 70px 430px;
	}
}
